/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-jun-2019, 11:26:40
    Author     : Marcos
*/

.button{
    -fx-text-fill: white ; /* Sets font colour (hex) */
    -fx-background-color: rgba(206,38,0,0.7); /* Sets background colour */
    -fx-padding: 5px;
    -fx-font: 14px "Open Sans";
    
    
}

.margen{
    -fx-font: 20px "Open Sans Bold";
    
}

.root{
    background-image: url("/images/background.jpg");

}

.gruposesion{
    vertical-align: central;
    
}

#grupoimg{
    -fx-border-radius: 50%;
    
}